/* место для вашего кода */
.header {
  width: 1052px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
  color: #000;
  height: 105px;
  margin: 92px 24px 96px 24px;
  display: flex;
  /* background-color: aqua; */
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  flex-shrink: 0;
}

.header__links-list {
  list-style: circle;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__link {
  text-decoration: underline;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
  padding-left: 26.5px;
}

.header__logo {
  margin-left: -22px;
  padding-right: 184px;
}

.header__address {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 63px;
  gap: 1px;
}

.cover {
  background-image: url(/images/cover.jpg);
  background-size: 1100px 757px;
  background-repeat: no-repeat;
  width: 1100px;
  height: 757px;
  /* flex-shrink: 0; */
  z-index: -1;
  position: relative;
  /* display: flex; */
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.cover__title {
  position: relative;
  color: #fff;
  z-index: 9;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
  gap: 20px;
}

.aligned-text {
  justify-content: center;
  text-align: center;
  letter-spacing: 30px;
  margin-top: 165px;
  margin-left: 50px;
  width: 316px;
  height: 115px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-textt {
  justify-items: center;
  letter-spacing: 30px;
  width: 369px;
  height: 100px;
  margin-left: 336px;
  margin-top: 300;
}

.aligned-texttt {
  justify-items: center;
  letter-spacing: 60px;
  width: 417px;
  height: 100px;
  margin-left: 633px;
}

.letter-spacing-extended_two {
  letter-spacing: 30px;
}

/* .cover__title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  color: white;
  position: absolute;
  z-index: 3;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  width: 1000px;
  height: 355px;
  flex-shrink: 0;
  margin: 165px 50px 237px 50px;
  text-transform: uppercase;
  justify-items: center;
  gap: 20px;
  grid-template-areas:
 "ono . ."
 "tebe tebe tebe"
 ". . nado"; 
}

.aligned-text {
  grid-area: ono;
  letter-spacing: 30px;
}

.aligned-textt {
  grid-area: tebe;
  letter-spacing: 30px;
}

.aligned-texttt {
  grid-area: nado;
  letter-spacing: 60px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.letter-spacing-extended_two {
  letter-spacing: 60px;
} */

.cover__description {
  display: flex;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  font-weight: normal;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  position: absolute;
  z-index: 3;
  margin-top: 147px;
  margin-left: 78px;
  gap: 79px;
}

.cover__description-text {
  /* letter-spacing: 3px; */
  width: 640px;
  height: 28px;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 19px;
}

.bet-button {
  background-color: transparent;
  width: 256px;
  height: 51px;
  flex-shrink: 0;
  padding: 12px 32px 11px 31px;
  margin-right: 50px;
  margin-bottom: 51px;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: 1px solid #fff;
  position: relative;
  top: -13px;
}
.lots {
  width: 1052px;
  height: 692px;
  margin: 179px 24px 146px 24px;
}

.lots__heading {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 27px;
  padding-left: 40px;
  /* margin: 179px 915px 27px 64px */
}

.lots__card-list {
  display: flex;
  gap: 25px;
  width: 334px;
  height: 563px;
  flex-shrink: 0;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  flex-direction: column;
}

.lots__card-list-item {
  width: 334px;
  height: 563px;
  flex-shrink: 0;
  position: relative;
  flex-grow: 1;
}

.card-link {
  text-decoration: none;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card.card_type_film {
  background: url(/images/card-lot-01.jpg),
    lightgray -597.988px 0px / 457.481% 100% no-repeat;
  width: 334px;
  height: 563px;
  background-position: center;
  background-size: cover;
}

.card.card_type_book {
  background: url(/images/card-lot-02.jpg),
    lightgray -102px -119.083px / 161.078% 142.303% no-repeat;
  background-position: center;
  background-size: cover;
}

.card.card_type_picture {
  background: url(/images/card-lot-03.jpg), lightgray 50% / cover no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  color: #fff;

  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
  padding: 51px 40px 0px 40px;
  z-index: 3;
}

.card__text {
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  z-index: 3;
  margin: 0 40px 48px 40px;
}

.first {
  padding-top: 248px;
}

.third {
  padding-top: 90px;
}

.lots__look-more-link {
  padding-left: 40px;
  padding-top: 30px;
  position: absolute;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.about {
  width: 1052px;
  margin: 179px 24px 146px 24px;
  position: absolute;
  /* padding: 148px 58px; */
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  grid-template-columns: 334px 663px;
  gap: 52px;
  margin: auto;
  padding-top: 33px;
}

.about__column-logo {
  height: 334px;
  padding: 0px 85px;
  width: 100%;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column-description {
  width: 100%;
  padding-top: 100px;
  text-align: justify;
  /* gap: 100px; */
}

.about__title {
  padding-bottom: 100px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: initial;
}

.about__text {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 25px;
  text-align: initial;
}

.about__text-indent {
  margin-top: 25px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  padding-left: 10px;
  margin-top: auto;
  height: 98px;
  margin-left: 57px;
  margin-top: 918px;
  margin-bottom: 88px;
}

.footer__address {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.footer__menu {
  display: grid;
  grid-row: auto;
  justify-content: center;
  text-align: center;
}
.footer__menu-list-item {
  list-style-type: none;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.footer__menu-link_active {
  text-decoration: none;
  font-family: Raleway, sans-serif;
}

.footer__social-list {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  gap: 48px;
  justify-items: end;
  list-style: none;
}
